/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 

 
body{
 color: #F0FFFF;
 background-image: url("https://s3-media3.fl.yelpcdn.com/bphoto/f9mnKMrF_aLZZ4_1dqkD0A/o.jpg");
 background-size: cover;
 font-family: Pacifico;
}

.img-circle {
    border-radius: 50%;
}
s
button {
  background: none;
  border: 0px;
  color: #FFFAFA;
  font-size: 15px;
  width: 60px;
  margin: 10px 0 0;
  font-family: Lato, Pacifico;
  cursor: pointer;
}

h1{
  color: #F8F8FF;
  text-align: center;
  margin-top: 20px;
}

img{
  width: 150px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #FFF0F5;
  color: purple;
}

ul{
  list-style: none;
  font-size: 20px;
  background-color: #FFC371;
  padding: 20px;
  width: 60%;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #FF5F6D;
}

.createtodo{
  text-align: center;
  border-radius: 5px;
  background-color:#C02425;
  padding: 20px;
}

li{
  margin-bottom: 10px;
  padding: 5px;
}

li:hover{
  background-color: #CB3066;
  border-radius: 3px;
}

a{
  text-decoration: none;
  color: #F0F8FF;
  vertical-align: middle;
}

div{
  width: 60%;
  margin: 20px auto 0px auto;
}

input[type="text"], input[type="number"]{
  font-size: 20px;
  background-color: #FFF;
  outline: none;
  border-style: none;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #F8F8FF;
}

.pomodoro-estimate{
  font-weight: bold;
  color: #f7ff00;
  background-color: #db36a4;
  border-radius: 50px;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
}

#add-new-todo-button{
  font-size: 20px;
  text-align: center;
  color: #fd746c;
  outline: none;
  border-style: none;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 1px #E0EAFC;
  display: block;
  background-color: #CFDEF3;
  margin-top: 10px;
}

#add-new-todo-button:active{
  box-shadow: 1px 1px 1px #E5CCFF;
}

.completed-todo{
  text-decoration: line-through;
}
label {
  font-size: 1.5em;
}

input[type=checkbox]:checked + label {
  color:black;
  text-decoration: line-through;
}

.cbox1 {
  color:#CCE5FF;
  text-decoration: line-through;
}

.cbox2 {
  color:#CCE5FF;
  text-decoration: line-through;
}

.cbox3 {
  color:#CCE5FF;
  text-decoration: line-through;
}

.cbox4 {
  color:#CCE5FF;
  text-decoration: line-through;
}

.cbox5 {
  color:#CCE5FF;
  text-decoration: line-through;
}

.cbox6 {
  color:#CCE5FF;
  text-decoration: line-through;
}

.cbox7 {
  color:#CCE5FF;
  text-decoration: line-through;
}

.cbox8 {
  color:#CCE5FF;
  text-decoration: line-through;
}

.imgContainer { 
    width: 200px;
    margin: 0 auto;
    }
img { width: 100%;}