<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>
 <body>
      <div class="imgContainer">
          <img class="img-circle" src="http://40.media.tumblr.com/tumblr_lk18qocsR81qdvbdfo1_500.jpg" 
    alt="unicorn">
      </div>
    
    <h1>My Personal To-do List</h1>
    
    <ul>
      <% @todos.each do |todo| %>
      <li>
        <input type="checkbox" name=""/>
        <a href="/todo/show/<%= todo.id %>"><%=todo.description%></a>
        <span class="pomodoro-estimate">$<%= todo.pomodoro_estimate %></span>
        <a href="/todo/destroy/<%= todo.id %>" align="right">x</a>
      </li>
      <%end%>
    </ul>
    
    <a class="createtodo" href="/todo/new">create a new todo</a>
  </body>