<div class="card">
  <h2>Add a new todo...</h2>
  
  <form action="/todo/create">
      <input name="description"type="text" placeholder="Add a new todo...">
      <input name="pomodoro-estimate"type="number" placeholder="Money estimate...">
      <input type="submit" value="Add todo"="delete_todo">
    <a href="/" class="simple-link">Go back...</a> 
  </form>
</div>

